
%% Cache config
[
  %% Cache store way
  {cache_module, 'ets'},    %% default is ets.Support redis, memcached, mysql and normal file

  %% ets default settings
  {ets_name, '$cache_ets'},
  {ets_opts, [set, named_table, private]}, %% Just some easy settings

  %% redis default settings 
  {redis_poolname, '$cache_redis'},
  {redis_pool_size, 10},
  {redis_pool_server, 'localhost'},
  {redis_poll_port, 9527}

].
