
{deps,[
  {emysql,    ".*", {git, "https://github.com/Eonblast/Emysql.git",         "0.4.1"}},
  {eredis,    ".*", {git, "https://github.com/wooga/eredis.git",            "master"}},
  {mcd,       ".*", {git, "https://github.com/EchoTeam/mcd.git",            "master"}},
  {ecrontab,  ".*", {git, "https://github.com/czy1121/ecrontab.git",        "master"}}
]}.

{sub_dirs, [
  "rel"
]}.
