%% Cache store way 
{cache_module, 'store_memcached'}.    %% default is ets.Support redis, memcached, mysql and normal file
%%{cache_module, 'store_ets'}.    %% default is ets.Support redis, memcached, mysql and normal file
%%{cache_module, 'store_redis'}.    %% default is ets.Support redis, memcached, mysql and normal file


%% redis default settings 
{redis_poolsize, 10}.
{redis_port, 6379}.
{redis_server, "localhost"}.

%% memcached default settings
%%{memcached_hosts, [{localhost, ["localhost"]}]}.
%%{memcached_buckets, [{cluster1, {localhost, 11211}}, {cluster1, {localhost, 11211}}]}.
